* {
    padding: 0;
    margin: 0;
    font-family: 'Crimson Text', serif;
    
}

.titulo {
    text-align: center;
    margin: 30px;
    
}

.titulo img {
    width:50%;
}


.barraNav {
    background-color: none ;
    text-align: center;
    margin: auto;
    justify-content: center;
}

.banner {
    background-color: #085ED6;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    margin: 30px;
    
}

.banner a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}

h3 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.productos {
    padding-top: 10px;
    margin-left: 20px;
}

.productos img {
    width: 50%;
    height: 50%;
}


.info {
    padding-top: 50px;
    text-align: center;
}

.productos h3 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bolder;
}

.shopping-cart-items {
    padding: 20px 0px;
  }
  
.shopping-cart-header {
    border-bottom: 1px solid #ccc;
  }
  
.shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
  }
  
.shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
  }
  
.shopping-cart-total {
    min-height: 96px;
  }


  
.info {
    padding-top: 50px;
    text-align: center;
}

.explicacionContacto {
    padding-top: 50px;
    text-align: center;
    margin: 50px;
}

.financacion {
    display: flex;
    flex-direction: row;
}

.my-1 {
    padding-left: 20px;
}

.promoBancaria {
    padding-top: 50px;
    
}

.promoBancaria h1 {
    font-size: 25px;
}

.bancos {
    text-align: start;
    padding-top: 50px;
    font-size: 18;
}

.bancos ul {
    list-style: none;
    text-decoration: none;
}

.bancos ul li {
    padding-top: 50px;
}

.bancos ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: left;
    ;
}

.bancos img {
    height: 50px;
    width: 50px;
    
}
.redes {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin: auto;
}

.tarjetas {
    margin: 20px;
    display: inline;
    text-align: center;
    
}

.tarjetas img {
    width: 100%;
    height: 100%;
}

