* {
    padding: 0;
    margin: 0;
    font-family: 'Crimson Text', serif;
    
}

.titulo {
    text-align: center;
    margin: 30px;
    
}

.titulo img {
    width:100%;
}


.barraNav {
    background-color: none ;
    text-align: center;
    margin: auto;
    justify-content: center;
}


.boton {
    padding-top: 50px;
    margin-left: 20px;
}

.cuadrado {
    background: #085ED6;
    color: white;
}
.productos {
    padding-top: 10px;
    margin-left: 20px;
}

.productos img {
    width: 50%;
    height: 50%;
}


.info {
    padding-top: 50px;
    text-align: center;
}

.redes {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin: 50px;
}

